.Rproj.user
.Rhistory
.RData
notepad.R
wurstmineberg.Rproj
brewer-palettes.pdf
updatepush.sh
wurstminedata.Rmd
wurstminedata.html
wurstminedata.md
cache
figure
Plots/*.png
Plots/*/*.png
Plots
data/*.csv
data
shiny/www
